@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

@font-face {
  font-family: 'dreamscape';
  src: url('./fonts/dreamscape-webfont.woff2') format('woff2'),
    url('./fonts/dreamscape-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  background-image: url('images/aredenweald.jpg');

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

body:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1;
  -webkit-animation: fadein 3s;
  -moz-animation: fadein 3s;
  -ms-animation: fadein 3s;
  -o-animation: fadein 3s;
  animation: fadein ease-in 3s;
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.subheading {
  position: relative;
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s;
}

.blip {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blip p {
  font-family: 'Roboto';
  font-weight: 700;
  color: rgb(184, 187, 190);
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgb(0, 0, 0, 0.1);
  padding-bottom: 30px;
  margin-bottom: 0;
  -webkit-animation: fadein 6s;
  -moz-animation: fadein 6s;
  -ms-animation: fadein 6s;
  -o-animation: fadein 6s;
  animation: fadein 6s;
}

.btncontainer {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  -webkit-animation: fadein 6s;
  -moz-animation: fadein 6s;
  -ms-animation: fadein 6s;
  -o-animation: fadein 6s;
  animation: fadein 6s;
}

h1 {
  font-family: dreamscape;
  font-size: 9rem;
  color: #fff;
  text-shadow: 3px 0px 7px rgba(81, 67, 21, 0.6),
    -3px 0px 7px rgba(81, 67, 21, 0.6), 0px 4px 7px rgba(81, 67, 21, 0.6);
  margin-bottom: 15px;
  /* text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgb(0, 0, 0, 0.1); */
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein ease-in 2s;
}

h2 {
  font-family: 'Orbitron';
  font-size: 2.4rem;
  font-weight: 700;
  color: #fff;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 20px;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgb(0, 0, 0, 0.1);
  -webkit-animation: fadein 3s;
  -moz-animation: fadein 3s;
  -ms-animation: fadein 3s;
  -o-animation: fadein 3s;
  animation: fadein ease-in 3s;
}

h4 {
  font-family: 'Orbitron';
  position: absolute;
  color: rgb(184, 187, 190);
  font-size: 1.3rem;
  bottom: 135px;
  text-shadow: 3px 0px 7px rgba(81, 67, 21, 0.6),
    -3px 0px 7px rgba(81, 67, 21, 0.6), 0px 4px 7px rgba(81, 67, 21, 0.6);
  -webkit-animation: fadein 3s;
  -moz-animation: fadein 3s;
  -ms-animation: fadein 3s;
  -o-animation: fadein 3s;
  animation: fadein ease-in 3s;
}

.button {
  position: relative;
  font-family: 'Roboto';
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(8, 12, 28, 0.6);
  color: #fff;
  opacity: 0.8;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #cccccc;
  height: 30px;
  width: 120px;
  border-radius: 5px;
  border: none;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgb(0, 0, 0, 0.1);
  overflow: hidden;
}

.circle {
  position: absolute;
  background-color: rgb(47, 169, 191);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  -webkit-animation: fadein 0.3s;
  -moz-animation: fadein 0.3s;
  -ms-animation: fadein 0.3s;
  -o-animation: fadein 0.3s;
  animation: scale 0.3s ease-out;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }

  h2 {
    display: none;
    font-size: 12px;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  h4 {
    font-size: .75rem;
    top: 5px;
    margin: 0;
  }

  .btncontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .button {
    font-size: 1.2rem;
    margin-top: 20px;
    height: 50px;
    width: 200px;
  }

  p {
    display: none;
  }



}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
